/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*



!/src/minecraft/net/minecraft/src/AchievementPage.java
!/src/minecraft/net/minecraft/src/BiomeGenFreezer.java
!/src/minecraft/net/minecraft/src/BlockArctiteOre.java
!/src/minecraft/net/minecraft/src/BlockBlueClay.java
!/src/minecraft/net/minecraft/src/BlockBlueFire.java
!/src/minecraft/net/minecraft/src/BlockBluestoneOre.java
!/src/minecraft/net/minecraft/src/BlockBluestoneTorch.java
!/src/minecraft/net/minecraft/src/BlockBluestoneWire.java
!/src/minecraft/net/minecraft/src/BlockClearIce.java
!/src/minecraft/net/minecraft/src/BlockColdDispenser.java
!/src/minecraft/net/minecraft/src/BlockColdTNT.java
!/src/minecraft/net/minecraft/src/BlockCrystalBlock.java
!/src/minecraft/net/minecraft/src/BlockCrystalOre.java
!/src/minecraft/net/minecraft/src/BlockDungeonBlock.java
!/src/minecraft/net/minecraft/src/BlockFreezerFarmland.java
!/src/minecraft/net/minecraft/src/BlockFreezerSapling.java
!/src/minecraft/net/minecraft/src/BlockFrostWheatCrop.java
!/src/minecraft/net/minecraft/src/BlockFrostyReed.java
!/src/minecraft/net/minecraft/src/BlockFrozenBookshelf.java
!/src/minecraft/net/minecraft/src/BlockFrozenBrick.java
!/src/minecraft/net/minecraft/src/BlockFrozenCoal.java
!/src/minecraft/net/minecraft/src/BlockFrozenCobbleSlab.java
!/src/minecraft/net/minecraft/src/BlockFrozenCobbleStone.java
!/src/minecraft/net/minecraft/src/BlockFrozenDirt.java
!/src/minecraft/net/minecraft/src/BlockFrozenFurnace.java
!/src/minecraft/net/minecraft/src/BlockFrozenGlowLamp.java
!/src/minecraft/net/minecraft/src/BlockFrozenGlowStone.java
!/src/minecraft/net/minecraft/src/BlockFrozenGlowstoneTorch.java
!/src/minecraft/net/minecraft/src/BlockFrozenIce.java
!/src/minecraft/net/minecraft/src/BlockFrozenPistonBase.java
!/src/minecraft/net/minecraft/src/BlockFrozenPistonExtension.java
!/src/minecraft/net/minecraft/src/BlockFrozenPistonMoving.java
!/src/minecraft/net/minecraft/src/BlockFrozenSand.java
!/src/minecraft/net/minecraft/src/BlockFrozenStone.java
!/src/minecraft/net/minecraft/src/BlockFrozenWaterFlowing.java
!/src/minecraft/net/minecraft/src/BlockFrozenWaterStationary.java
!/src/minecraft/net/minecraft/src/BlockFrozenWheatBlock.java
!/src/minecraft/net/minecraft/src/BlockFrozenWorkbench.java
!/src/minecraft/net/minecraft/src/BlockIceObsidian.java
!/src/minecraft/net/minecraft/src/BlockIceOven.java
!/src/minecraft/net/minecraft/src/BlockIcyStrawberryLeave.java
!/src/minecraft/net/minecraft/src/BlockMobSpawner2.java
!/src/minecraft/net/minecraft/src/BlockMobSpawner3.java
!/src/minecraft/net/minecraft/src/BlockMossyFrozenstone.java
!/src/minecraft/net/minecraft/src/BlockMossyFrozenstoneLight.java
!/src/minecraft/net/minecraft/src/BlockPiece2.java
!/src/minecraft/net/minecraft/src/BlockPiece3.java
!/src/minecraft/net/minecraft/src/BlockPortalFreezer.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkChest.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkDoor.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkLadder.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkLeaves.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkSapling.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkSign.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkSlab.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkWood.java
!/src/minecraft/net/minecraft/src/BlockSnowbarkWoodenPlanks.java
!/src/minecraft/net/minecraft/src/BlockStrawberryCrop.java
!/src/minecraft/net/minecraft/src/BlockStrawberryPie.java
!/src/minecraft/net/minecraft/src/ChunkProviderFreezer.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeCorridor.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeCorridor2.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeCorridor3.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeCorridor4.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeCorridor5.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeCrossing.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeCrossing2.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeCrossing3.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeEnd.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeEntrance.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeFreezerStalkRoom.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgePiece.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeStairs.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeStartPiece.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeStraight.java
!/src/minecraft/net/minecraft/src/ComponentFreezerBridgeThrone.java
!/src/minecraft/net/minecraft/src/ContainerColdDispenser.java
!/src/minecraft/net/minecraft/src/ContainerFrozenFurnace.java
!/src/minecraft/net/minecraft/src/ContainerIceOven.java
!/src/minecraft/net/minecraft/src/CrystalBucket.java
!/src/minecraft/net/minecraft/src/EntityAISnowCreeperSwell.java
!/src/minecraft/net/minecraft/src/EntityBlizzardFX.java
!/src/minecraft/net/minecraft/src/EntityBlueFlameFX.java
!/src/minecraft/net/minecraft/src/EntityColdKnight.java
!/src/minecraft/net/minecraft/src/EntityColdKnightMinion.java
!/src/minecraft/net/minecraft/src/EntityColdKnightPart.java
!/src/minecraft/net/minecraft/src/EntityColdTNTPrimed.java
!/src/minecraft/net/minecraft/src/EntityCrystalArrow.java
!/src/minecraft/net/minecraft/src/EntityCustomPortalFX.java
!/src/minecraft/net/minecraft/src/EntityFallingFrozenSand.java
!/src/minecraft/net/minecraft/src/EntityFreezerBlaze.java
!/src/minecraft/net/minecraft/src/EntityFreezerCube.java
!/src/minecraft/net/minecraft/src/EntityFreezerSlime.java
!/src/minecraft/net/minecraft/src/EntityFrostbiteSpider.java
!/src/minecraft/net/minecraft/src/EntityFuryBoar.java
!/src/minecraft/net/minecraft/src/EntityGoat.java
!/src/minecraft/net/minecraft/src/EntityHornedGoat.java
!/src/minecraft/net/minecraft/src/EntityIceball.java
!/src/minecraft/net/minecraft/src/EntityIcePigZombie.java
!/src/minecraft/net/minecraft/src/EntityPlayer.java
!/src/minecraft/net/minecraft/src/EntityPortalFreezerFX.java
!/src/minecraft/net/minecraft/src/EntityQueenSpider.java
!/src/minecraft/net/minecraft/src/EntityScarab.java
!/src/minecraft/net/minecraft/src/EntitySmallIceBall.java
!/src/minecraft/net/minecraft/src/EntitySnowBlower.java
!/src/minecraft/net/minecraft/src/EntitySnowCreeper.java
!/src/minecraft/net/minecraft/src/EntitySnowOwl.java
!/src/minecraft/net/minecraft/src/EntityTeleportRing.java
!/src/minecraft/net/minecraft/src/EntityThorHammer.java
!/src/minecraft/net/minecraft/src/EntityWoollyMammoth.java
!/src/minecraft/net/minecraft/src/EntityYeti.java
!/src/minecraft/net/minecraft/src/EternalFrostAchievements.java
!/src/minecraft/net/minecraft/src/EternalFrostDungeonLoot.java
!/src/minecraft/net/minecraft/src/FreezerMaterial.java
!/src/minecraft/net/minecraft/src/FrostAchievementPage.java
!/src/minecraft/net/minecraft/src/FrozenFurnaceRecipes.java
!/src/minecraft/net/minecraft/src/GuiColdDispenser.java
!/src/minecraft/net/minecraft/src/GuiEditSnowbarkSign.java
!/src/minecraft/net/minecraft/src/GuiFrozenFurnace.java
!/src/minecraft/net/minecraft/src/GuiIceOven.java
!/src/minecraft/net/minecraft/src/GuiIngame.java
!/src/minecraft/net/minecraft/src/GuiIngameHypothermia.java
!/src/minecraft/net/minecraft/src/HypothermiaStats.java
!/src/minecraft/net/minecraft/src/IceOvenRecipes.java
!/src/minecraft/net/minecraft/src/IntegratedServer.java
!/src/minecraft/net/minecraft/src/IRenderOverlay.java
!/src/minecraft/net/minecraft/src/ItemArctite.java
!/src/minecraft/net/minecraft/src/ItemArctiteArmor.java
!/src/minecraft/net/minecraft/src/ItemArctiteAxe.java
!/src/minecraft/net/minecraft/src/ItemArctiteHoe.java
!/src/minecraft/net/minecraft/src/ItemArctitePickaxe.java
!/src/minecraft/net/minecraft/src/ItemArctiteShovel.java
!/src/minecraft/net/minecraft/src/ItemArctiteSword.java
!/src/minecraft/net/minecraft/src/ItemAresArmor.java
!/src/minecraft/net/minecraft/src/ItemBelzebuthLegs.java
!/src/minecraft/net/minecraft/src/ItemBluestone.java
!/src/minecraft/net/minecraft/src/ItemColdPorridge.java
!/src/minecraft/net/minecraft/src/ItemColdsteelArmor.java
!/src/minecraft/net/minecraft/src/ItemColdsteelAxe.java
!/src/minecraft/net/minecraft/src/ItemColdsteelHoe.java
!/src/minecraft/net/minecraft/src/ItemColdsteelPickaxe.java
!/src/minecraft/net/minecraft/src/ItemColdsteelShovel.java
!/src/minecraft/net/minecraft/src/ItemColdsteelSword.java
!/src/minecraft/net/minecraft/src/ItemCrystal.java
!/src/minecraft/net/minecraft/src/ItemCrystalArmor.java
!/src/minecraft/net/minecraft/src/ItemCrystalAxe.java
!/src/minecraft/net/minecraft/src/ItemCrystalBucketMilk.java
!/src/minecraft/net/minecraft/src/ItemCrystalHoe.java
!/src/minecraft/net/minecraft/src/ItemCrystalPickaxe.java
!/src/minecraft/net/minecraft/src/ItemCrystalShovel.java
!/src/minecraft/net/minecraft/src/ItemCrystalSword.java
!/src/minecraft/net/minecraft/src/ItemEpicDungeonLoot.java
!/src/minecraft/net/minecraft/src/ItemFlintAndDiamond.java
!/src/minecraft/net/minecraft/src/ItemForgeEternalFrost.java
!/src/minecraft/net/minecraft/src/ItemFreezerTeleporter.java
!/src/minecraft/net/minecraft/src/ItemFreezerTool.java
!/src/minecraft/net/minecraft/src/ItemFrostyReed.java
!/src/minecraft/net/minecraft/src/ItemFrozenGlowstoneDust.java
!/src/minecraft/net/minecraft/src/ItemFrozenRecord.java
!/src/minecraft/net/minecraft/src/ItemFrozenTorch.java
!/src/minecraft/net/minecraft/src/ItemGlaceRod.java
!/src/minecraft/net/minecraft/src/ItemGoatCheese.java
!/src/minecraft/net/minecraft/src/ItemHadesArmor.java
!/src/minecraft/net/minecraft/src/ItemHermesBoot.java
!/src/minecraft/net/minecraft/src/ItemIceballStaff.java
!/src/minecraft/net/minecraft/src/ItemIceCobbleAxe.java
!/src/minecraft/net/minecraft/src/ItemIceCobbleHoe.java
!/src/minecraft/net/minecraft/src/ItemIceCobblePickaxe.java
!/src/minecraft/net/minecraft/src/ItemIceCobbleShovel.java
!/src/minecraft/net/minecraft/src/ItemIceCobbleSword.java
!/src/minecraft/net/minecraft/src/ItemIceRod.java
!/src/minecraft/net/minecraft/src/ItemIceShard.java
!/src/minecraft/net/minecraft/src/ItemLokiBoots.java
!/src/minecraft/net/minecraft/src/ItemMilkBowl.java
!/src/minecraft/net/minecraft/src/ItemOdinArmor.java
!/src/minecraft/net/minecraft/src/ItemPelt.java
!/src/minecraft/net/minecraft/src/ItemPeltArmor.java
!/src/minecraft/net/minecraft/src/ItemPoseidonCrown.java
!/src/minecraft/net/minecraft/src/ItemSatanHelm.java
!/src/minecraft/net/minecraft/src/ItemSnowbarkAxe.java
!/src/minecraft/net/minecraft/src/ItemSnowbarkBow.java
!/src/minecraft/net/minecraft/src/ItemSnowbarkDoor.java
!/src/minecraft/net/minecraft/src/ItemSnowbarkHoe.java
!/src/minecraft/net/minecraft/src/ItemSnowbarkPickaxe.java
!/src/minecraft/net/minecraft/src/ItemSnowbarkShovel.java
!/src/minecraft/net/minecraft/src/ItemSnowbarkSign.java
!/src/minecraft/net/minecraft/src/ItemSnowbarkSword.java
!/src/minecraft/net/minecraft/src/ItemSnowBlower.java
!/src/minecraft/net/minecraft/src/Itemstrawberrypie.java
!/src/minecraft/net/minecraft/src/ItemStrawberrySeed.java
!/src/minecraft/net/minecraft/src/ItemTeleportRing.java
!/src/minecraft/net/minecraft/src/ItemThorHammer.java
!/src/minecraft/net/minecraft/src/MapGenCavesFreezer.java
!/src/minecraft/net/minecraft/src/MapGenDeepFrozenIce.java
!/src/minecraft/net/minecraft/src/MapGenFreezerBridge.java
!/src/minecraft/net/minecraft/src/ModelColdKnight.java
!/src/minecraft/net/minecraft/src/ModelFreezerBlaze.java
!/src/minecraft/net/minecraft/src/ModelFreezerCube.java
!/src/minecraft/net/minecraft/src/ModelFrostbiteSpider.java
!/src/minecraft/net/minecraft/src/ModelFuryBoar.java
!/src/minecraft/net/minecraft/src/ModelGoat.java
!/src/minecraft/net/minecraft/src/ModelHornedGoat.java
!/src/minecraft/net/minecraft/src/ModelMammoth.java
!/src/minecraft/net/minecraft/src/ModelQueenSpider.java
!/src/minecraft/net/minecraft/src/ModelScarab.java
!/src/minecraft/net/minecraft/src/ModelSnowCreeper.java
!/src/minecraft/net/minecraft/src/ModelSnowOwl.java
!/src/minecraft/net/minecraft/src/mod_Freezer.java
!/src/minecraft/net/minecraft/src/NetClientHandler.java
!/src/minecraft/net/minecraft/src/RenderColdKnight.java
!/src/minecraft/net/minecraft/src/RenderColdTNTPrimed.java
!/src/minecraft/net/minecraft/src/RenderCrystalArrow.java
!/src/minecraft/net/minecraft/src/RenderFallingFrozenSand.java
!/src/minecraft/net/minecraft/src/RenderFreezerBlaze.java
!/src/minecraft/net/minecraft/src/RenderFreezerCube.java
!/src/minecraft/net/minecraft/src/RenderFrosbiteSpider.java
!/src/minecraft/net/minecraft/src/RenderFuryBoar.java
!/src/minecraft/net/minecraft/src/RenderGlobal.java
!/src/minecraft/net/minecraft/src/RenderGlobalCustom.java
!/src/minecraft/net/minecraft/src/RenderGoat.java
!/src/minecraft/net/minecraft/src/RenderHornedGoat.java
!/src/minecraft/net/minecraft/src/RenderIceball.java
!/src/minecraft/net/minecraft/src/RenderManager.java
!/src/minecraft/net/minecraft/src/RenderQueenSpider.java
!/src/minecraft/net/minecraft/src/RenderScarab.java
!/src/minecraft/net/minecraft/src/RenderSnowCreeper.java
!/src/minecraft/net/minecraft/src/RenderSnowOwl.java
!/src/minecraft/net/minecraft/src/RenderThorHammer.java
!/src/minecraft/net/minecraft/src/RenderTrowable.java
!/src/minecraft/net/minecraft/src/RenderWoollyMammoth.java
!/src/minecraft/net/minecraft/src/RenderYeti.java
!/src/minecraft/net/minecraft/src/SlotFrozenFurnace.java
!/src/minecraft/net/minecraft/src/SlotIceOven.java
!/src/minecraft/net/minecraft/src/StructureFreezerBridgePieces.java
!/src/minecraft/net/minecraft/src/StructureFreezerBridgePieceWeight.java
!/src/minecraft/net/minecraft/src/StructureFreezerBridgeStart.java
!/src/minecraft/net/minecraft/src/TeleporterFreezer.java
!/src/minecraft/net/minecraft/src/TextureBlueFlamesFX.java
!/src/minecraft/net/minecraft/src/TextureCustomPortalFX.java
!/src/minecraft/net/minecraft/src/TexturePortalFreezerFX.java
!/src/minecraft/net/minecraft/src/TileEntityColdDispenser.java
!/src/minecraft/net/minecraft/src/TileEntityFrozenFurnace.java
!/src/minecraft/net/minecraft/src/TileEntityFrozenPiston.java
!/src/minecraft/net/minecraft/src/TileEntityIceOven.java
!/src/minecraft/net/minecraft/src/TileEntityRendererFrozenPiston.java
!/src/minecraft/net/minecraft/src/TileEntitySnowbarkChest.java
!/src/minecraft/net/minecraft/src/TileEntitySnowbarkChestRenderer.java
!/src/minecraft/net/minecraft/src/TileEntitySnowbarkSign.java
!/src/minecraft/net/minecraft/src/TileEntitySnowbarkSignRenderer.java
!/src/minecraft/net/minecraft/src/WorldChunkManagerFreezer.java
!/src/minecraft/net/minecraft/src/WorldGenBlueFire.java
!/src/minecraft/net/minecraft/src/WorldGenDungeon.java
!/src/minecraft/net/minecraft/src/WorldGenEternalFrostChest1.java
!/src/minecraft/net/minecraft/src/WorldGenEternalFrostDungeon.java
!/src/minecraft/net/minecraft/src/WorldGenEternalFrostDungeon2.java
!/src/minecraft/net/minecraft/src/WorldGenEternalFrostDungeon3.java
!/src/minecraft/net/minecraft/src/WorldGenEternalFrostDungeonChest1.java
!/src/minecraft/net/minecraft/src/WorldGenFreezerWater.java
!/src/minecraft/net/minecraft/src/WorldGenFrostyReed.java
!/src/minecraft/net/minecraft/src/WorldGenFrozenGlowStone1.java
!/src/minecraft/net/minecraft/src/WorldGenFrozenGlowStone2.java
!/src/minecraft/net/minecraft/src/WorldGenFrozenSand.java
!/src/minecraft/net/minecraft/src/WorldGenIceCastle.java
!/src/minecraft/net/minecraft/src/WorldGenIcicles.java
!/src/minecraft/net/minecraft/src/WorldGenIcicles2.java
!/src/minecraft/net/minecraft/src/WorldGenIcyStrawberry.java
!/src/minecraft/net/minecraft/src/WorldGenMinableFrozenIce.java
!/src/minecraft/net/minecraft/src/WorldGenSnowbarkTree.java
!/src/minecraft/net/minecraft/src/WorldProviderFreezer.java
